In [7]:
import pandas as pd
df_energia = pd.read_csv('../data/raw/spain_energy_market.csv')
df_energia.info()
display(df_energia.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40212 entries, 0 to 40211
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  40212 non-null  object
 1   id        40212 non-null  int64
 2   name      34734 non-null  object
 3   geoid     10956 non-null  float64
 4   geoname   10956 non-null  object
 5   value     40212 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.8+ MB

,datetime,id,name,geoid,geoname,value
0,2014-01-01 23:00:00,600,Precio mercado SPOT Diario ESP,3.0,España,25.280833
1,2014-01-02 23:00:00,600,Precio mercado SPOT Diario ESP,3.0,España,39.924167
2,2014-01-03 23:00:00,600,Precio mercado SPOT Diario ESP,3.0,España,4.992083
3,2014-01-04 23:00:00,600,Precio mercado SPOT Diario ESP,3.0,España,4.091667
4,2014-01-05 23:00:00,600,Precio mercado SPOT Diario ESP,3.0,España,13.587500

In [10]:
# convierto data time de formato object a datetime de formato real 
df_energia['datetime'] = pd.to_datetime(df_energia['datetime'])
df_energia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40212 entries, 0 to 40211
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  40212 non-null  datetime64[ns]
 1   id        40212 non-null  int64
 2   name      34734 non-null  object
 3   geoid     10956 non-null  float64
 4   geoname   10956 non-null  object
 5   value     40212 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 1.8+ MB

In [ ]:
# vemos los conceptos de la columna
df_energia['name'].value_counts()

name
Precio mercado SPOT Diario ESP                                            1826
Precio mercado SPOT Diario FRA                                            1826
Precio mercado SPOT Diario POR                                            1826
Energía asignada en Mercado SPOT Diario España                            1826
Energía asignada en Mercado SPOT Diario Francia                           1826
Generación programada PBF Gas Natural Cogeneración                        1826
Generación programada PBF Solar fotovoltaica                              1826
Generación programada PBF UGH + no UGH                                    1826
Generación programada PBF Eólica                                          1825
Generación programada PBF total                                           1825
Demanda programada PBF total                                              1825
Demanda real                                                              1825
Generación programada PBF Nuclear                                         1825
Generación programada PBF Turbinación bombeo                              1824
Generación programada PBF Carbón                                          1823
Generación programada PBF Ciclo combinado                                 1793
Rentas de congestión mecanismos implícitos diario Portugal importación    1664
Rentas de congestión mecanismos implícitos diario Francia importación     1619
Rentas de congestión mecanismos implícitos diario Portugal exportación    1566
Rentas de congestión mecanismos implícitos diario Francia exportación      712
Name: count, dtype: int64

In [ ]:
# identifico los paises que estan incluidos en el dataframe 
df_energia['geoname'].value_counts()

geoname
España      3652
Francia     3652
Portugal    3652
Name: count, dtype: int64

In [16]:
# vemos los conceptos que hay por cada pais 
print(df_energia.groupby('geoname')['name'].unique())

geoname
España      [Precio mercado SPOT Diario ESP, nan]
Francia     [Precio mercado SPOT Diario FRA, nan]
Portugal    [Precio mercado SPOT Diario POR, nan]
Name: name, dtype: object