In [2]:
import pandas as pd
ruta = '../data/raw/housing.csv'
df_original = pd.read_csv(ruta)

Ver da dimension o tama√±o exacto del dataset

In [3]:
df_original.shape

(20640, 10)

Ver la estructura general, cantidad de archivos, tipos de elementos y cantidad de datos en cada celda

In [6]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

Ver estadisticas basicas

In [8]:
df_original.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

Verificar si existen los valores nulos e identificar donde estan, haciendo una suma de los valores retornados

In [9]:
df_original.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

Ver cuantos distritos caen en esa categoria

In [13]:
df_original['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

Conteo de valores de columnas faltantes, identificacion y sacar un porcentaje de ello

In [ ]:
# Sumamos los valores nulos (True = 1) en cada columna
missing_counts = df_original.isnull().sum()

# Calculamos el porcentaje de nulos
total_rows = len(df_original)
missing_percentage = (missing_counts / total_rows) * 100

# Creamos un DataFrame conciso para visualizar rapidamente
missing_info = pd.DataFrame({
    'Total Faltantes': missing_counts,
    'Porcentaje (%)': missing_percentage.round(2)
})

# Filtramos solo las columnas que tienen algun valor faltante
missing_info = missing_info[missing_info['Total Faltantes'] > 0]

print(missing_info)

                Total Faltantes  Porcentaje (%)
total_bedrooms              207             1.0